.main {
    margin-left: 15vw;
    height: 533px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    overflow-x: hidden;
}

.main_text {
    width: 416px;
    height: 141px;
    margin-right: 7%;
    display: grid;
    grid-area: text;
}

.main_text_title {
    margin-top: 7vw;
    margin-bottom: 0%;
    font-family: 'PT Sans Caption';
    font-size: 36px;
    font-weight: 700;
    line-height: 46.58px;
    letter-spacing: 0em;
    color: #364844;
}

.main_text_subtitle {
    margin-top: 1vw;
    font-family: 'PT Sans Caption';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #364844;
}
.main_image {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-area: image;
}

@media (max-width: 768px) {
    .main{
        margin: 0%;
        padding: 0%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "image"
        "text";
    }
    .main_image {
        display: grid;
        grid-area: image;
    }

    .main_text_subtitle {
        margin-right: 5%;
        font-size: 14px; 
        font-weight: 400;
        line-height: 21px;
    }
    .main_text {
        display: grid;
        grid-area: text;
        margin-left: 4vw;
        margin-right: 4vw;
    }
}