html {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
}

.page {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0%;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 10vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo {
  padding: 0%;
  margin: 0%;
}

.header_adress {
  padding: 0%;
  margin: 1vw;
}

.header_number {
  margin: 0%;
  padding: 0 2vw 0 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_number_img {
  width: 2vw;
  height: 3vh;
}

.header_number_text {
  padding: 0%;
  margin-left: 0.3vw;
  font-family: PT Sans Caption;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
  color: #364844;
}

.header_button {
  padding: 0%;
  margin: 0%;
}

.header_button_1 {
  padding: 0%;
  margin: 0%;
  width: 15vw;
  height: 6vh;
  border-radius: 50px;
  background-color: #0DBC91;
  border-color: #0DBC91;
  color: white;
  font-family: PT Sans Caption;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0em;
}

.header_button_1:hover {
  background-color: #00D29F;
  border-color: #00D29F;
}

#contactForm {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c3f1c1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.navigation {
  height: 7vh;
  background-color: #1FA181;
  display: flex;
  align-items: center;
}

.navigation_menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: 15vw;
}

.navigation_menu li {
  margin: 0;
  padding: 0;
  margin-right: 3vw;
}

.navigation_menu li:last-child {
  margin-right: 0;
}

.navigation_menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

.navigation_menu li a:hover {
  color: #0DBC91;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.main {
  margin-left: 15vw;
  height: 533px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  overflow-x: hidden;
}

.main_text {
  width: 416px;
  height: 141px;
  margin-right: 7%;
  display: grid;
  grid-area: text;
}

.main_text_title {
  margin-top: 7vw;
  margin-bottom: 0%;
  font-family: "PT Sans Caption";
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

.main_text_subtitle {
  margin-top: 1vw;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #364844;
}

.main_image {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-area: image;
}

@media (max-width: 768px) {
  .main {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image" "text";
  }
  .main_image {
    display: grid;
    grid-area: image;
  }
  .main_text_subtitle {
    margin-right: 5%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .main_text {
    display: grid;
    grid-area: text;
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
.slide-content {
  display: flex;
  width: 100%;
  height: 440px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 7% auto 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 0px 5px 5px 0px;
}

.slide.active {
  display: block;
  border-radius: 0px 5px 5px 0px;
}

.slide_2, .slide_3 {
  width: 100%;
  height: 440px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.slide img {
  width: 100%;
  height: 100%;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.arrow {
  display: inline-block;
  width: 34px;
  height: 16.47px;
  background: none;
  border: none;
  margin: 0 5px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #E1E1E1;
}

.arrow:hover {
  color: #0DBC91;
}

.pagination-text {
  display: inline-block;
  font-size: 18px;
}

.slide.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  background-color: #E2F0EF;
}

.left-content_title {
  padding: 0%;
  margin-top: 7%;
  margin-bottom: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_subtitle {
  margin-top: 1%;
  padding: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 28.47px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_ul {
  padding: 0;
  margin-left: 3%;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_price {
  font-size: 20px;
  margin-top: 20px;
  color: #364844;
}

.old-price {
  text-decoration: line-through;
  color: #364844;
  margin-right: 10px;
}

.new-price {
  color: #868686;
}

.buttons {
  margin-top: 20px;
}

.green-button, .white-button {
  padding: 10px 20px;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.green-button {
  background-color: #0DBC91;
  border-color: #0DBC91;
  color: #fff;
}

.green-button:hover {
  background-color: #00D29F;
  border-color: #00D29F;
}

.white-button {
  background-color: #E2F0EF;
  border-color: #0DBC91;
  color: #0DBC91;
  margin-left: 4%;
}

.white-button:hover {
  background-color: #0DBC91;
  color: white;
}

.right-content {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.right-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

@media (max-width: 768px) {
  .slide-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 5%;
  }
  .right-content,
  .left-content {
    width: 100%;
  }
  .left-content {
    padding-bottom: 5%;
  }
  .left-content_title {
    font-size: 26px;
    line-height: 33.64px;
    margin-left: 10%;
  }
  .left-content_subtitle {
    padding: 0%;
    margin-left: 10%;
    font-size: 14px;
    line-height: 18.12px;
  }
  .left-content_ul {
    margin-left: 15%;
    font-size: 14px;
    margin-right: 10%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .left-content_price {
    font-size: 14px;
    margin-left: 10%;
    padding: 0%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }
  .green-button,
  .white-button {
    width: 137px;
    height: 43px;
    padding: 6px 12px;
    font-size: 10px;
  }
}
.footer {
  height: 15vh;
  margin-top: 7%;
  margin-bottom: 0%;
  padding: 0%;
  background-color: #08664F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo navigation contacts";
  align-items: center;
}

.footer_logo {
  grid-area: logo;
  margin-left: 15vw;
}

.footer_navigation {
  grid-area: navigation;
  width: 482px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: 12vw;
  margin-right: 4vw;
}

.footer_navigation_li a {
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer_navigation_li a:hover {
  color: #0DBC91;
}

.footer_navigation_li {
  padding: 1%;
}

.footer_contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: row;
}

.socials-item-3,
.socials-item-2 {
  margin-left: 10%;
}

@media (max-width: 768px) {
  .footer {
    height: 291px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo contacts" "navigation navigation";
    align-items: start;
  }
  .footer_logo {
    margin-top: 25%;
    grid-area: logo;
    margin-left: 12%;
    padding: 0;
  }
  .footer_navigation {
    margin-left: 12%;
    margin-top: 0%;
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
  }
  .footer_contacts {
    margin-top: 25%;
    margin-left: 25%;
    grid-area: contacts;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 769px) {
  .header_mobile {
    display: none;
  }
}
.header_mobile {
  position: relative;
  z-index: 1003;
  background: none;
}

.header_mobile_adress {
  position: relative;
  z-index: 1000;
  background: #FFFFFF !important;
  height: 65px;
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding-left: 17px;
  align-items: center;
}

.header_mobile_text {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

#nav-icon1 {
  width: 37px;
  height: 26px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #1FA181;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

.mobile_logo img {
  margin-left: 43px;
  width: 62px;
  height: 18.32px;
}

.header_mobile_text {
  margin-left: auto;
  margin-right: 18px;
  font-family: PT Sans Caption;
}

.mobile_phone {
  padding: 0%;
  margin: 0%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.7px;
}

.mobile_adress {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.82px;
}

.mobile_button {
  width: 196px;
  height: 43px;
  border-radius: 50px;
  margin-top: 39px;
  color: #1FA181;
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.list {
  list-style-type: none;
  padding-bottom: 10px;
}

.navigation_menu_mobile {
  padding: 0%;
  margin: 0%;
}

.navigation_menu_mobile li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu-toggle {
  position: fixed;
  top: 113px;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left 0.2s ease-in-out;
  z-index: 1001;
}

.menu-toggle.open {
  left: 19px;
  z-index: 1002;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 146, 127, 0.9);
  z-index: 1000;
  display: none;
}

.overlay.open {
  display: block;
}/*# sourceMappingURL=index.css.map */