html {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
}

.page {
  margin: 0%;
  padding: 0%;
}

.header {
  padding: 0%;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 67px;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo {
  padding: 0%;
  margin: 0%;
}

.header_adress {
  padding: 0%;
  margin: 1vw;
}

.header_number {
  margin: 0%;
  padding: 0 2vw 0 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_number_img {
  width: 28px;
  height: 28px;
}

.header_number_text {
  padding: 0%;
  margin-left: 0.3vw;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #364844;
}

.header_button {
  padding: 0%;
  margin: 0%;
}

.header_button_1 {
  padding: 0%;
  margin: 0%;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  background-color: #0DBC91;
  border-color: #0DBC91;
  color: white;
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.header_button_1:hover {
  background-color: #00D29F;
  border-color: #00D29F;
}

#contactForm {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c3f1c1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.navigation {
  height: 43px;
  background-color: #1FA181;
  display: flex;
  align-items: center;
}

.navigation_menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: 15vw;
}

.navigation_menu li {
  margin: 0;
  padding: 0;
  margin-right: 3vw;
}

.navigation_menu li:last-child {
  margin-right: 0;
}

.navigation_menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navigation_menu li a:hover {
  color: #0DBC91;
}

.main {
  margin-left: 15vw;
  height: 533px;
  display: flex;
  flex-direction: row;
}

.main_text {
  width: 416px;
  height: 141px;
  margin-right: 7%;
}

.main_text_title {
  margin-top: 7vw;
  margin-bottom: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

.main_text_subtitle {
  margin-top: 1vw;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #364844;
}

.main_image {
  max-width: 100%;
  height: auto;
}

.slide-content {
  display: flex;
  width: 100%;
  height: 440px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 7% auto 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 0px 5px 5px 0px;
}

.slide.active {
  display: block;
  border-radius: 0px 5px 5px 0px;
}

.slide_2, .slide_3 {
  width: 100%;
  height: 440px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.slide img {
  width: 100%;
  height: 100%;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.arrow {
  display: inline-block;
  width: 34px;
  height: 16.47px;
  background: none;
  border: none;
  margin: 0 5px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #E1E1E1;
}

.arrow:hover {
  color: #0DBC91;
}

.pagination-text {
  display: inline-block;
  font-size: 18px;
}

.slide.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  background-color: #E2F0EF;
}

.left-content_title {
  padding: 0%;
  margin-top: 7%;
  margin-bottom: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_subtitle {
  margin-top: 1%;
  padding: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 28.47px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_ul {
  padding: 0;
  margin-left: 3%;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0em;
  color: #364844;
}

.left-content_price {
  font-size: 20px;
  margin-top: 20px;
  color: #364844;
}

.old-price {
  text-decoration: line-through;
  color: #364844;
  margin-right: 10px;
}

.new-price {
  color: #868686;
}

.buttons {
  margin-top: 20px;
}

.green-button, .white-button {
  padding: 10px 20px;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.green-button {
  background-color: #0DBC91;
  border-color: #0DBC91;
  color: #fff;
}

.green-button:hover {
  background-color: #00D29F;
  border-color: #00D29F;
}

.white-button {
  background-color: #E2F0EF;
  border-color: #0DBC91;
  color: #0DBC91;
  margin-left: 4%;
}

.white-button:hover {
  background-color: #0DBC91;
  color: white;
}

.right-content {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.right-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .slider-container {
    margin: 10% auto 0;
  }
}
.footer {
  height: 15vh;
  margin-top: 7%;
  margin-bottom: 0%;
  padding: 0%;
  background-color: #08664F;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_logo {
  margin-left: 15vw;
}

.footer_navigation {
  width: 482px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: 12vw;
  margin-right: 4vw;
}

.footer_navigation_li a {
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer_navigation_li a:hover {
  color: #0DBC91;
}

.footer_navigation_li {
  padding: 1%;
}

.footer_contacts {
  display: flex;
  flex-direction: row;
}

.socials-item-3, .socials-item-2 {
  margin-left: 10%;
}/*# sourceMappingURL=index.css.map */