@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.page {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.header {
  padding: 0%;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 67px;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo {
  padding: 0%;
  margin: 0%;
}

.header_adress {
  padding: 0%;
  margin: 1vw;
}

.header_number {
  margin: 0%;
  padding: 0 2vw 0 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_number_img {
  width: 28px;
  height: 28px;
}

.header_number_text {
  padding: 0%;
  margin-left: 0.5vw;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #364844;
}

.header_button {
  padding: 0%;
  margin: 0%;
}

.header_button_1 {
  padding: 0%;
  margin: 0%;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  background-color: #0DBC91;
  border-color: #0DBC91;
  color: white;
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.navigation {
  height: 43px;
  background-color: #1FA181;
  display: flex;
  align-items: center;
}

.navigation_menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-left: 15vw;
}

.navigation_menu li {
  margin: 0;
  padding: 0;
  margin-right: 3vw;
}

.navigation_menu li:last-child {
  margin-right: 0;
}

.navigation_menu li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navigation_menu li a:hover {
  color: #b1adad; /* Цвет при наведении на ссылку */
}

.main {
  margin-left: 15vw;
  height: 533px;
  display: flex;
  flex-direction: row;
}

.main_text {
  width: 416px;
  height: 141px;
  margin-right: 7%;
}

.main_text_title {
  margin-top: 7vw;
  margin-bottom: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

.main_text_subtitle {
  margin-top: 1vw;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #364844;
}

.main_image {
  max-width: 100%;
  height: auto;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 15%;
  margin: 7% auto 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 0px 5px 5px 0px;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}

.pagination-text {
  display: inline-block;
  font-size: 18px;
}

/* Стили для первого слайда */
.slide.active .slide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  width: 50%;
  padding-left: 3%;
  background-color: #E2F0EF;
}

h1 {
  padding: 0%;
  margin: 0%;
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.58px;
  letter-spacing: 0em;
  color: #364844;
}

h2 {
  font-family: PT Sans Caption;
  font-size: 36px;
  font-weight: 700;
  line-height: 28.47px;
  letter-spacing: 0em;
  color: #364844;
}

ul {
  padding: 0;
  font-family: PT Sans Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0em;
  color: #364844;
}

ul li {
  margin-bottom: 8px;
}

p {
  font-size: 20px;
  margin-top: 20px;
  color: #364844;
}

.old-price {
  text-decoration: line-through;
  color: #364844;
  margin-right: 10px;
}

.new-price {
  color: #868686;
}

.buttons {
  margin-top: 20px;
}

.green-button, .white-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.green-button {
  background-color: #0DBC91;
  color: #fff;
}

.white-button {
  background-color: #E2F0EF;
  color: #0DBC91;
  margin-left: 10px;
}

.right-content {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.right-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Обрезаем изображение и сохраняем пропорции */
  -o-object-position: left bottom;
     object-position: left bottom; /* Выравнивание изображения в нижнем левом углу */
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
  .slider-container {
    max-width: 90%; /* Уменьшаем максимальную ширину на более узких экранах */
  }
  /* Дополнительные стили для маленьких экранов, если необходимо */
}
@media (max-width: 576px) {
  .slider-container {
    margin: 10% auto 0; /* Изменяем отступ сверху на очень узких экранах */
  }
  /* Дополнительные стили для очень узких экранов, если необходимо */
}/*# sourceMappingURL=index.css.map */